.dados-cadastrais {
    padding: 20px;
    min-width: 150px;
    width: 100%;
}

.telainteira {
    margin: 10px;
    width: 90%;
}

.emcolunas {
    margin: 10px;
    width: 45%;
}

table {
    margin: 10px;
    width: 90%;
}

.mat-row:hover, .mat-row:focus {
    background-color:rgba(63,81,181,0.2);
}